body{
    background: red;
    color: white;
}

@media only screen and (min-width: 600px){
    body{
        background: lightgreen;
    }
}

@media only screen and (min-width: 768px) {
    body{
        background: darkblue;
        color: white;
    }
}